/* Universal rules */
body, a, p {
    font-family: arial,sans-serif;
}

/* Google search bar start */

#google-logo-container {
    display: flex;
}

/* Why does display flex for the #search-container allow the #googlelogo to be centered?
If the default setting for images is inline-block, does this mean you need flex to center items?
Is it also possible with block or other formats? Why?

Also, does it matter if the #google-logo-container is defined as an id versus a class? 
Could I also have just made #googlelogo itself its own flex container or is it better to split
like this and having a parent and then have children?

Should I have merged the other logos/images into this one flex parent?*/

#googlelogo {
    height: 92px;
    width: 272px;
    margin: auto;
    padding-top: 200px;
}


/* Header navbar start */

.top-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

.top-nav #signin-button {
    background-color: #1a73e8;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #fff;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}


.gmim {
    color: rgba(0,0,0,0.87);
}

/* Couldn't find hover css on google so mirrored the search hover css (i.e., ".googlesearch button:hover") and adjusted colors accordingly*/

.top-nav #signin-button:hover {
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    background-image: -webkit-linear-gradient(top,#1a73e8,#1d78ee);
    background-color: #1a73e8;
    border: 1px solid #c6c6c6;
    color: #fff;
}

.roboto-small {
    font: 13px/27px Roboto,RobotoDraft,Arial,sans-serif;
}

/* Header navbar end */

.googleicons {
    display: flex;
    flex-direction: row;
}

#appsicon {
    display: flex;
    height: 24px;
    width: 24px;
    align-content: flex-end;
}

.searchbaricon-mic {
    flex: 1 0 auto;
    display: flex;
    cursor: pointer;
    align-items: center;
    border: 0;
    background: transparent;
    outline: none;
    padding: 0 8px;
    width: 24px;
    line-height: 44px;
}

.searchbaricon-search {
    display: flex;
    align-items: center;
    padding-right: 13px;
    margin-top: -5px;
}

/* Google search bar */

.googlesearcharea {
    padding: 20px; 
}

.center {
        max-width: 584px;
        position: relative;
        margin: 0 auto;
        padding-top: 6px;
        width: auto;
}

.searchbar {
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    margin: 0 auto;
    width: auto;
    max-width: 584px;
}

.searchiconbox {
    line-height: 65px;
    padding-left: 10px;
}

img#searchicon {
    width: 20px;
}

.miciconbox {
    line-height: 65px;
    padding-right: 90px;
}

img#micicon {
    width: 20px;
}

.inner-searchbar {
    flex: 1;
    display: flex;
    padding: 5px 8px 0 16px;
    padding-left: 14px;
}

input.searchinput {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    color: rgba(0,0,0,.87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 100%;
    -webkit-tap-highlight-color: transparent;
    margin-top: -37px;
    height: 34px;
    font-size: 16px;
}

button.searchbutton {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

button.searchbutton:hover {
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #222;
}

/* body, input, button start */

body, input, button {
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #222;
}

/* Footer start */

.footer {
    bottom: 0;
    font-size: 10pt;
    position: fixed;
    width: 100%;
}

#footer-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #f2f2f2;
    min-width: 980px;
    border-top: 1px solid #e4e4e4;
    font-size: 14px;
    padding: 0 20px
}

.footer-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#footer-bar .footer-item a {
    text-decoration: none;
    color: #70757a;
}

