/* Universal rules */
body, a, p {
    font-family: arial,sans-serif;
}

/* body, input, button start */

body, input, button {
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #222;
}

/* Google search bar start */

#google-logo-container {
    display: flex;
}

/* Why does display flex for the #search-container allow the #googlelogo to be centered?
If the default setting for images is inline-block, does this mean you need flex to center items?
Is it also possible with block or other formats? Why?

Also, does it matter if the #google-logo-container is defined as an id versus a class? 
Could I also have just made #googlelogo itself its own flex container or is it better to split
like this and having a parent and then have children?

Should I have merged the other logos/images into this one flex parent?*/

#googlelogo {
    height: 92px;
    width: 272px;
    margin: auto;
    padding-top: 200px;
}


/* Header navbar start */

.top-nav {
    display: flex;
}

.top-nav #signin-button {
    background-color: #1a73e8;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #fff;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

/* Couldn't find hover css on google so mirrored the search hover css (i.e., ".googlesearch button:hover") and adjusted colors accordingly*/

.top-nav #signin-button:hover {
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    background-image: -webkit-linear-gradient(top,#1a73e8,#1d78ee);
    background-color: #1a73e8;
    border: 1px solid #c6c6c6;
    color: #fff;
}

.roboto-small {
    font: 13px/27px Roboto,RobotoDraft,Arial,sans-serif;
}

/* Header navbar end */

.googleicons {
    display: flex;
    flex-direction: row;
}

#appsicon {
    display: flex;
    height: 24px;
    width: 24px;
    align-content: flex-end;
}

#micicon {
    height: 24px;
    width: 24px;
    margin: auto;
    flex-direction: column;
    justify-content: center;
}

#searchicon {
    height: 24px;
    width: 24px;
    margin: auto;
}

.googlesearch {
    display: block;
    height: 100px;
    width: auto;
    margin: auto;
    padding-left: 800px;
}

.googlesearch button {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.googlesearch button:hover {
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #222;
}

/* Footer start */

.footer {
    display: block;
    bottom: 0;
    font-size: 10pt;
    height: 35px;
    position: fixed;
    width: 100%;
}

#footer-bar {
    background: #f2f2f2;
    line-height: 40px;
    min-width: 980px;
    border-top: 1px solid #e4e4e4;
    font-size: 14px;
}
